/*
* SuperBro version 0.1.4
* Copyright 2019-2021, Sanjiv Rana
* www.superbro.dev
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* Last update: 13-aug-2021
*/

/*	&& GENERAL SETTINGS. Change or add your own variables here.	
	=======================*/
	:root {
        /*	=========== SITE BASIC SETTINGS ========== */
        --site-size: 75em; /* about 1200px */
        --columns:; /* default value is 12, leave it empty if you want to keep 12 columns setting */

        /* background color */           
        --background-main: var(--white);

        /*	=========== FONT(s) ==========  */
        --font-main:'Montserrat', sans-serif;
        --font-alt:'Source Code Pro';
        --font-default:sans-serif;

        /*	=========== PRIMARY COLORS ==========  */ 
        /* FONT COLOR(s) */
        /* you could define here for each tag line the color you would like to use */
        --default-font-color:var(--black-alt);

        /* LINK COLOR(s) */
        --alink:#ED217C;
        --alink-hover:rgb(250, 25, 126);
        --alink-active:var(--alink);
        --alink-visited:var(--alink);

        --alink-menu:rgb(212, 250, 25);
        --alink-menu-hover:var(--alink);
        --alink-menu-active:var(--alink);
        /* CUSTOM COLORS */
        /* add below your own specific colors // */
        --bqg: #b3b3b3;		
        --greywhite: #b3b3b3;
        --black-alt: #03191E;
        --yellow: #fdca40;      

        /* SHADES */
        /* predefined shades from black to white */
        --black: #1d1d21;
        --gray-10: #2e2e31;
        --gray-6: #7b7a7d;
        --gray-4: #a5a5a6;
        --gray-3: #bbbbbc;
        --gray-2: #d1d0d2;
        --gray-1: #e8e7e8;
        --white: #e6e8e6;

        /* STATUS COLOR(s) */
        --color-default: var(--gray-6);
        --color-default-border: var(--gray-10);
        --color-success: #88c459;
        --color-success-border: #7db552;
        --color-error: #f5414f;
        --color-error-border: #cd3542;
        --color-warning: #ffd137;
        --color-warning-border: #e8bd32;

        /* BORDER COLOR(s) */

        /* BUTTON COLORS */
        --primary-button:var(--black-alt); --primary-button-bg:transparent; --primary-button-bdr:var(--greywhite); 
        --primary-button-hover:var(--gray-4); --primary-button-hover-bg:var(--gray-6); --primary-button-hover-bdr:var(--primary-button-bdr:); 

        --a-button:var(--primary-button);--a-button-bg:var(--primary-button-bg);--a-button-bdr:var(--primary-button-bdr);
        --a-button-hover:var(--primary-button-hover);--a-button-hover-bg:var(--primary-button-hover-bg);--a-button-hover-bdr:var(--primary-button-hover-bdr);

        /* Alternative buttons */
        /*   Could used to make different color classes for example */
        /*  --button-1:; --button-1-bg:; --button-1-bdr:;
        --button-2:;
        --button-3:;
        --button-4:; */
   


        /* =========== COMPONENT COLORS =========== */
        --quote-background:;
        --code-background:#c0c0c073;
        --codebox: #c0c0c073;

        /*	=======================  */
        /*    TEXT / FONTS SETTINGS  */
        /*	=======================  */
        --text-base-value:1em;
        --text-scale-value: 0.5vh;
	 	 	 	 	 
		    --h1: 3em;
		    --h2: 2.5em;
		    --h3: 1.938em;
		    --h4: 1.563em;
		    --h5: 1.250em;
		    --h6: 1em;
        --quotetextsize: 12px;
        
        /* line-height */
        --heading-line-height: 2;
        --body-line-height: 1.4;
    }
