@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

/* ::::CSS Reset 
================================================== */
iframe { border: 0; }
	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; 
	}
		
	body {
		line-height: 3.52em; 
		font-family: 'Montserrat', sans-serif;
	}
	ol, ul {
		list-style: none; 
	}

/* ::::BASE Styles
================================================== */
code {
	border: 1px solid var(--codebox);
	background: var(--codebox);
	font-size: calc(12px + var(--sized));
	letter-spacing: 1.5px;
	width:80%;
	display:block;
	overflow:scroll;
	padding:10px;
	margin:10px;
	white-space: pre;
	line-height: 30px;
	font-family: 'Source Code Pro';
}
.base {
	font-weight:300;
	letter-spacing: 0.1px;
}

.grid {grid-gap:15px; display: grid; grid-template-columns: repeat(12, minmax(0, 1fr)); grid-column: span 12 ;margin-top:20px;}

.item {
	text-transform: none;
}

.example .item {
	color: var(--abg);
	background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
	letter-spacing: .1rem;
	
}
.imgimg {
	width:20%;
	margin-top:10px;
}
.introductions .item {
	color: var(--abg);
	background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
	margin-top: 50px;
	font-weight: 700;
	padding:10px 0 10px;
	letter-spacing: .1rem;
	
}



 
/* ::--:Span e.g. how much space each "item" will take
================================================== */
.span1 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
.span2 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
.span3 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
.span4 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
.span5 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
.span6 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
.span7 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
.span8 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
.span9 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
.span10 { grid-column: span 12; grid-row: span 1; width: 100%;     }
.span11 { grid-column: span 12; grid-row: span 1; width: 100%;     }
.span12 { grid-column: span 12; grid-row: span 1; width: 100%;     }

@media (min-width: 420px) {
	.span1 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
	.span2 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
	.span3 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
	.span4 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
	.span5 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
	.span6 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
	.span7 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
	.span8 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
	.span9 {  grid-column: span 12 ; grid-row: span 1; width: 100%;   }
	.span10 { grid-column: span 12; grid-row: span 1; width: 100%;     }
	.span11 { grid-column: span 12; grid-row: span 1; width: 100%;     }
	.span12 { grid-column: span 12; grid-row: span 1; width: 100%;     }
	}
@media (min-width: 960px) {
.span0 {  grid-column: span 0 ; grid-row: span 1; width: 100%;   }
.span1 {  grid-column: span 1 ; grid-row: span 1; width: 100%;   }
.span2 {  grid-column: span 2 ; grid-row: span 1; width: 100%;   }
.span3 {  grid-column: span 3 ; grid-row: span 1; width: 100%;   }
.span4 {  grid-column: span 4 ; grid-row: span 1; width: 100%;   }
.span5 {  grid-column: span 5 ; grid-row: span 1; width: 100%;   }
.span6 {  grid-column: span 6 ; grid-row: span 1; width: 100%;   }
.span7 {  grid-column: span 7 ; grid-row: span 1; width: 100%;   }
.span8 {  grid-column: span 8 ; grid-row: span 1; width: 100%;   }
.span9 {  grid-column: span 9 ; grid-row: span 1; width: 100%;   }
.span10 { grid-column: span 10; grid-row: span 1; width: 100%;     }
.span11 { grid-column: span 11; grid-row: span 1; width: 100%;     }
.span12 { grid-column: span 12; grid-row: span 1; width: 100%;     }
}



.center-items { display:grid;  justify-items: center;align-items: center;}
.center-itemss { display:grid;  justify-self: center;align-items: center;}
.left-items { display:grid; justify-items: left;align-items: left;}
.right-items {  display:grid; justify-items: right;align-items: right;}

/* ::::Typography
================================================== */
	strong {
		font-weight:700;
	}
	blockquote {
		margin: 0;
	}
	
	blockquote p {
		padding: 15px;
		background: var(--bqg);
		border-radius: 5px;
		color: var(--black);
		font-size: var(--h6);
		font-family: 'Source Code Pro';
	}
	blockquote cite {
		color: var(--white);
		font-style: italic;
		font-family: 'Source Code Pro';
	}
	blockquote footer {
		padding: 1px 10px;
		font-size: var(--quotetextsize);
		color: var(--white);
		font-family: 'Source Code Pro';
	}
	
	blockquote p::before {
		content: '\201C  ';
		font-size: var(--h5);
	}
	
	blockquote p::after {
		content: '  \201D';
		font-size: var(--h5);
	}
	blockquote cite::before {
		content: ', ';
	}
/* ::::Links
================================================== */
	a { color: var(--alink); text-decoration: underline; outline: 0;font-weight:500; }
	a:hover, a:focus { color: var(--black); }
