@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

/* ::::CSS Reset 
================================================== */
iframe { border: 0; }
	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; 
	}

	ol, ul {list-style: none;}

/* ::::BASE Styles
================================================== */
body {
	font-family: var(--font-main);
	background: var(--abg);
	color:var(--white);
	font-size: calc(var(--text-base-value));
	line-height: var(--body-line-height);
	margin:1px auto;
	max-width: var(--site-size);
}
.base {
	font-weight:300;
	letter-spacing: 0.1px;
}
.item {
	text-transform: none;
}

code {
	border: 1px solid var(--code-background);
	background: var(--code-background);
	font-size: calc(12px + var(--text-scale-value));
	letter-spacing: 1.5px;
	width:100%;
	display:block;
	padding:10px;
	white-space: pre;
	line-height: 30px;
	font-family: 'Source Code Pro';
}

span.code {
	border: 1px solid var(--code-background);
	background: var(--code-background);
	font-size: calc(12px + var(--text-scale-value));
	letter-spacing: 2px;
	padding:0.15em;
	margin:0.15em;
	line-height: 3px;
	font-family: 'Source Code Pro';
}

span.detail {
	border: 1px solid var(--codebox);
	background: var(--codebox);
	font-size: calc(5px + var(--text-scale-value));
	letter-spacing: 2px;
	padding:0.15em;
	margin:0.15em;
	font-family: 'Source Code Pro';
}





.example .item {
	color: var(--abg);
	background: #EEE;
    text-align: center;
	border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 4.5em;
    line-height: 1.5em;
    font-weight: 700;
	letter-spacing: .1rem;
}

.item.span10.items.exs.row2 {
	height:100%;
}

.item.span1.items.exs.row3 {
	height:100%;
}


.exs {	display: grid;
    grid-template-areas:
        '1'
        '2';
	justify-items: center;}
.exs p:first-child {
	display: grid;
	align-items: end;
}

.exs p:not(:first-child):not(:last-child) {
	display: grid;
	align-items: end;
}
.imgimg {
	width:20%;
	margin-top:10px;
}
.introductions .item {
	color: var(--abg);
	background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
	margin-top: 50px;
	font-weight: 700;
	padding:10px 0 10px;
	letter-spacing: .1rem;
	
}



 


/* ::::Typography
================================================== */
	blockquote {
		margin-right:6.25em;
	}
	
	blockquote p {
		padding: 15px;
		background: var(--gray-1);
		border-radius: 5px;
		color: var(--black);
		font-size: var(--h5);
		font-family: 'Source Code Pro';
	}
	blockquote cite {
		color: var(--white);
		font-style: italic;
		font-family: 'Source Code Pro';
	}
	blockquote footer {
		padding: 1px 10px;
		font-size: var(--quotetextsize);
		color: var(--white);
		font-family: 'Source Code Pro';
	}
	
	blockquote p::before {
		content: '\201C  ';
		font-size: var(--h4);
	}
	
	blockquote p::after {
		content: '  \201D';
		font-size: var(--h4);
	}
	blockquote cite::before {
		content: ', ';
	}


	.button {
		display: inline-block;
		height: 38px;
		padding: 0 30px;
		margin: 10px 0;
		color: var(--primary-button);
		text-align: center;
		font-size: 11px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: .1rem;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		background-color: var(--primary-button-bg);
		border-radius: 4px;
		border: 1px solid var(--primary-button-bdr);
		cursor: pointer;
		box-sizing: border-box;
	}

	.button:active, .button:visited {color: var(--primary-button);}
	.button:hover {color: var(--white);border-color: var(--white);outline: 0;}

	a.button{background-color: var(--a-button-bg);border: 1px solid var(--a-button-bdr);color: var(--a-button);}
	a.button:active, a.button:visited {color: var(--a-button);}
	a.button:hover{}
/* ::::Links
================================================== */
	a { color: var(--alink); text-decoration: underline; outline: 0;font-weight:500; }
	a:hover, a:focus { color: var(--alink-hover); }
	a:active { color: var(--alink-active);}
	a:visited { color: var(--alink-visited);}
	
