/* 	!! Remember to place media queries around the module states not in any separate files !!
	#######################*/

/*	&& COLORS 	
	=======================*/
	:root {
		
		--white: #e6e8e6;
		--black: #03191E;
		--purple: #771a89; 
		--yellow: #fdca40; 
		--abg: hsl(200, 98%, 18%);
	}
/*	&& BASIC
	=======================*/	
	body {
		background: var(--abg);
		color:var(--white);
		line-height: 2em;
	}
	p {
		line-height: 1em;
	}

/*	&& BASIC TYPOGRAPHY
	=======================*/
	h1 {
		font-size: 5vh;
		color: var(--yellow);
	}
	h2 {
		font-size: 4vh;
	}
	
	.base {
		display:grid;
		justify-self: center;
		align-content: center;
		margin: 0 1em;
		padding: 2em 5em;

	}
	
	
/*	&& MOBILE FIRST
	The best way to keep your code well structured is to create the queries close 
	to the relevant codes.
	=======================*/
	/* Grid becomes active when larger than phone */
	@media (min-width: 420px) {}
	/* Grid becomes active when larger than phablet */
	@media (min-width: 550px) {}
	/* Grid becomes active when larger than tablet */
	@media (min-width: 750px) {}
	/* Grid becomes active when larger than desktop */
	@media (min-width: 1000px) {}
	/* Grid becomes active when larger than HD desktop */
	@media (min-width: 1200px) {}