/* 	!! Remember to place media queries around the module states not in any separate files !!
	#######################*/

/*	&& COLORS 	
	=======================*/
	:root {
		
		--white: #e6e8e6;
		--greywhite: #b3b3b3;
		--codebox: #c0c0c073;
		--black: #03191E;
		--purple: #771a89; 
		--yellow: #fdca40; 
		--abg: hsl(200, 98%, 18%);
		--sized: 0.5vh;
	}
/*	&& BASIC
	=======================*/	
	body {
		background: var(--abg);
		color:var(--white);
		line-height: 2em;
	}
	p {
		line-height: 1.5em;
		font-weight:300;
	}
	
	.button {
		display: inline-block;
		height: 38px;
		padding: 0 30px;
		color: var(--white);
		text-align: center;
		font-size: 11px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: .1rem;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		background-color: transparent;
		border-radius: 4px;
		border: 1px solid var(--greywhite);
		cursor: pointer;
		box-sizing: border-box;
	}

	.button:hover {
		color: var(--white);
    	border-color: var(--white);
    	outline: 0;
	}
	@media (min-width: 420px) {
		.logo {
			text-align:center;
			line-height: 50px;
			letter-spacing: -.1rem;
		}
	}
	@media (min-width: 750px) {
		.logo {
			text-align:center;
			line-height: 10px;
			letter-spacing: -.1rem;
		}
	}
	.logo {
		text-align:center;
		line-height: 50px;
		letter-spacing: -.1rem;
	}
	
	.slogan {
		line-height:30px;
		text-align:center;
	}
/*	&& BASIC TYPOGRAPHY
	=======================
<h1>		48px / 2
<h2>		40px / 2
<h3>		31px / 2
<h4>		25px / 2
<h5>		20px / 2
<h6>		16px / 2
*/
/* 16px / 2 */
	body {
		font-size: calc(16px + var(--sized));
	}
	h1, h2, h3, h4, h5 {
		text-transform: capitalize;
		font-weight:700;
	}

	h1 {
		font-size: calc(48px + var(--sized));
		color: var(--yellow);
		padding:10px;
	}
	h2 {
		font-size: calc(40px + var(--sized));
		margin-top:20px;
		padding-top:20px;
	}
	h3 {
		font-size: calc(31px + var(--sized));
	}

	h4 {
		font-size: calc(25px + var(--sized));
	}

	h5 {
		font-size: calc(20px + var(--sized));
	}
	h6 {
		font-size: calc(16px + var(--sized));
	}
	
	.base {
		display:grid;
		justify-self: center;
		align-content: center;
		margin: 0 1em;
		padding: 2em 5em;

	}
	
	
/*	&& MOBILE FIRST
	The best way to keep your code well structured is to create the queries close 
	to the relevant codes.
	=======================*/
	/* Grid becomes active when larger than phone */
	@media (min-width: 420px) {}
	/* Grid becomes active when larger than phablet */
	@media (min-width: 550px) {}
	/* Grid becomes active when larger than tablet */
	@media (min-width: 750px) {}
	/* Grid becomes active when larger than desktop */
	@media (min-width: 1000px) {}
	/* Grid becomes active when larger than HD desktop */
	@media (min-width: 1200px) {}